.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container div {
  border: none;
  height: 300px;
  flex: 1 1 auto;
  border: 4px solid indigo;
}

.section1 {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  font-family: roboto;
  background-color: #1F2937;
  color: #F9FAF8;
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
  align-items: center;
}

.first-container{
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.second-container{
  background: lightblue;
  border: 4px solid blue;
}

.section3 {
  display: flex;
  background-color: #E5E7EB;
  color: #1F2937;
  padding-top: 50px;
  padding-left: 200px;
  padding-right: 200px;
  font-family: roboto;
  font-weight: 300;
  font-size: 20px;
  font-style: italic;
  justify-content: space-between;
}

.section4 {
  align-items: center;
}